---
title: Index page
---
{% extends "layouts/_layout.html" %}

{% block content %}

<!-- begin header -->
<section class="header">

	<div class="pics">
		<div class="pics__product">
			<div class="varyforte">
			</div>
		</div>
		<div class="pics__signs">
			<div class="guarantee"></div>
			<div class="natural"></div>
		</div>
	</div>

	<div class="banner">
		<p class="banner__txt">Fórmula exclusiva</p>
		<p class="banner__txt banner__txt--desc">Para la salud y belleza de tus piernas</p>
		<p class="banner__txt">¡ADIÓS VARICES!</p>
	</div>

	<a href="#" class="ask-btn">Pidela ahora</a>

</section>
<!-- end header -->


<!-- begin decsription -->
<section class="decsription">

	<div class="banner">
		<p class="banner__txt banner__txt--desc">¡Salud y ligereza en las piernas con la crema Varyforte!</p>
	</div>

	<!-- begin slider -->
	<div class="slider slick-carousel">
		<div class="slides">
			<div class="slide">
				<div class="slide__pic slide__pic--desc1"></div>
				<p class="slide__txt">Hidrata  y nutre la piel</p>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--desc2"></div>
				<p class="slide__txt">Elimina rápidamente  las señales de fatiga en las piernas</p>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--desc3"></div>
				<p class="slide__txt">Estimula la circulación  normal de la sangre</p>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--desc4"></div>
				<p class="slide__txt">Gran remedio para  la prevención y el tratamiento  de las varic</p>
			</div>
		</div>
		<div class="arrow-prev">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 404.3 404.3"><polygon points="289.9 18 265.9 0 114.3 202.1 265.9 404.3 289.9 386.3 151.8 202.1 "/></svg>
		</div>
		<div class="arrow-next">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 404.3 404.3"><polygon points="138.3 0 114.3 18 252.4 202.1 114.3 386.3 138.3 404.3 289.9 202.1 "/></svg>
		</div>
	</div>
	<!-- end slider -->

</section>
<!-- end decsription -->


<!-- begin consist -->
<section class="consist">

	<!-- begin slider -->
	<div class="slider slick-carousel">
		<div class="slides">
			<div class="slide">
				<div class="slide__pic slide__pic--1"></div>
				<div class="slide__txt">
					<p>Troxerutina</p>
					<ul>
						<li>alivia la sensación de pesadez y fatiga en las piernas</li>
						<li>reduce la permeabilidad y la fragilidad de los capilares</li>
						<li>alivia el hinchazón y la inflamación</li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--2"></div>
				<div class="slide__txt">
					<p>Castaño de Indias y hojas de abedul</p>
					<ul>
						<li>aportan firmeza y elasticidad a los vasos sanguíneos</li>
						<li>eliminan las microimperfecciones de la piel</li>
						<li>eliminan las microimperfecciones de la piel</li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--3"></div>
				<div class="slide__txt">
					<p>Aceites esenciales de  limón, soja  y coco</p>
					<ul>
						<li>eliminan el mal olor y reducen el exceso de sudor</li>
						<li>alivian el sentimiento de sequedad y tirantez</li>
						<li>hidratan profundamente y nutren la piel de las piernas</li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--4"></div>
				<div class="slide__txt">
					<p>Absenta, mentol,  camomila y ortiga</p>
					<ul>
						<li>dan ligereza a las piernas y proporcionan energía</li>
						<li>refrescan y desinfectan la piel de tus piernas</li>
						<li>aceleran la curación de microfracturas</li>
					</ul>
				</div>
			</div>
			<div class="slide">
				<div class="slide__pic slide__pic--5"></div>
				<div class="slide__txt">
					<p>Cafeína, miel y  Gingko biloba</p>
					<ul>
						<li>cuidan la piel y la tonifican</li>
						<li>estimulan el flujo sanguíneo</li>
						<li>estimulan el metabolismo de los tejidos aceleran la renovación</li>
						<li>de las células microfracturas</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="arrow-prev">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 404.3 404.3"><polygon points="289.9 18 265.9 0 114.3 202.1 265.9 404.3 289.9 386.3 151.8 202.1 "/></svg>
		</div>
		<div class="arrow-next">
			<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 404.3 404.3"><polygon points="138.3 0 114.3 18 252.4 202.1 114.3 386.3 138.3 404.3 289.9 202.1 "/></svg>
		</div>
	</div>
	<!-- end slider -->


</section>
<!-- end consist -->

{% endblock %}
